* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.container {
  width: 500px;
  height: 500px;
  background-color: #f0f0f0;
  border: 2px solid #363434;
}
.box {
  width: 100px;
  height: 100px;
  background-color: #363434;
  margin: 4px;
  color: #f0f0f0;
}

.container .box2 {
  background-color: aqua;
  width: 120px;
}

.container .box1 {
  position: absolute;
  right: 0%;
  bottom: 0%;
  border-radius: 50%;
}
