* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 70vh;
  width: 70vw;
  gap: 10px;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #dac8ff;
}

.item2 {
  grid-column: 2/4;
  grid-row: 1/2;
  background-color: #9feae2;
}

.item3 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #ffb2a8;
}

.item4 {
  grid-column: 2/3;
  grid-row: 2/4;
  background-color: #f3bdff;
}

.item5 {
  grid-column: 3/4;
  grid-row: 2/4;
  background-color: #ffd88a;
}
