* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px solid red;
}

.box {
  width: 30%;
  height: 100%;
  border: 2px solid blue;
  border-radius: 10%;
}
